## Load data: BTC prices 
---


**Bring in BTC price and generate target col for binary classification**

Hence, two labels;

    "1" when BTC Close value rose or remained the same;

    "0" when BTC Close value decreased

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import yfinance as yf
import seaborn as sns
import requests
import dateutil.parser

from jupyterthemes import jtplot
jtplot.style()

pd.options.display.max_columns = 50  # None -> No Restrictions
pd.options.display.max_rows = 100    # None -> Be careful with this 
pd.options.display.max_colwidth = 400

In [2]:
def get_ticker(ticker, start, end):
    '''
    Input:
        ticker: str, stock ticker (e.g., 'AAPL')
        start: YYYY-MM-DD start date
        end: YYYY-MM-DD end date
    return:
        price dataframe
    '''
    ticker = yf.Ticker(ticker)
    return pd.DataFrame(ticker.history(start=start, end=end))

In [3]:
# Download ticker inputs
start = '2017-12-31'
end = '2020-12-03'
ticker = 'BTC-USD'
BTC = get_ticker(ticker, start, end)
BTC.tail()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2020-11-29,17719.634766,18283.628906,17559.117188,18177.484375,31133957704,0,0
2020-11-30,18178.322266,19749.263672,18178.322266,19625.835938,47728480399,0,0
2020-12-01,19633.769531,19845.974609,18321.921875,18802.998047,49633658712,0,0
2020-12-02,18801.744141,19308.330078,18347.718750,19201.091797,37387697138,0,0
2020-12-03,19205.925781,19566.191406,18925.785156,19445.398438,31930317405,0,0

In [4]:
# drop cols
cols = ['Dividends','Stock Splits']
BTC.drop(columns=cols,inplace=True)
BTC.head()

,Open,High,Low,Close,Volume
Date,,,,,
2017-12-31,12897.700195,14377.400391,12755.599609,14156.400391,12136299520
2018-01-01,14112.200195,14112.200195,13154.700195,13657.200195,10291200000
2018-01-02,13625.000000,15444.599609,13163.599609,14982.099609,16846600192
2018-01-03,14978.200195,15572.799805,14844.500000,15201.000000,16871900160
2018-01-04,15270.700195,15739.700195,14522.200195,15599.200195,21783199744

In [5]:
# add cols
BTC['%'] = BTC['Close'].pct_change()
BTC['vol%_chg1d'] = BTC['Volume'].pct_change()
BTC['vol%_chg3d'] = BTC['Volume'].pct_change(3)
BTC['vol%_chg8d'] = BTC['Volume'].pct_change(8)
BTC['range'] = BTC['High'] / BTC['Low']
BTC['range%'] = (BTC['High'] / BTC['Low']).pct_change()
BTC.dropna(inplace=True)

# generate binary target label
BTC['Target'] = (BTC['%'] > 0).astype(int)
BTC.head(50)

,Open,High,Low,Close,Volume,%,vol%_chg1d,vol%_chg3d,vol%_chg8d,range,range%,Target
Date,,,,,,,,,,,,
2018-01-08,16476.199219,16537.900391,14208.200195,15170.099609,18413899776,-0.079350,0.160589,-0.227634,0.517258,1.163969,0.065188,0
2018-01-09,15123.700195,15497.500000,14424.000000,14595.400391,16659999744,-0.037884,-0.095249,-0.090343,0.618859,1.074425,-0.076930,0
2018-01-10,14588.500000,14973.299805,13691.200195,14973.299805,18500800512,0.025892,0.110492,0.166066,0.098192,1.093644,0.017888,1
2018-01-11,14968.200195,15018.799805,13105.900391,13405.799805,16534099968,-0.104686,-0.106304,-0.102086,-0.020021,1.145957,0.047834,0
2018-01-12,13453.900391,14229.900391,13158.099609,13980.599609,12065699840,0.042877,-0.270254,-0.275768,-0.446101,1.081456,-0.056286,1
2018-01-13,13952.400391,14659.500000,13952.400391,14360.200195,12763599872,0.027152,0.057842,-0.310106,-0.464634,1.050679,-0.028458,1
2018-01-14,14370.799805,14511.799805,13268.000000,13772.000000,11084099584,-0.040960,-0.131585,-0.329622,-0.394794,1.093744,0.040988,0
2018-01-15,13767.299805,14445.500000,13641.700195,13819.799805,12750799872,0.003471,0.150369,0.056781,-0.196344,1.058922,-0.031837,1
2018-01-16,13836.099609,13843.099609,10194.900391,11490.500000,18853799936,-0.168548,0.478637,0.477154,0.023890,1.357845,0.282290,0
2018-01-17,11431.099609,11678.000000,9402.290039,11188.599609,18830600192,-0.026274,-0.001231,0.698884,0.130288,1.242038,-0.085288,0
2018-01-18,11198.799805,12107.299805,10942.500000,11474.900391,15020399616,0.025589,-0.202341,0.177997,-0.188122,1.106447,-0.109168,1
2018-01-19,11429.799805,11992.799805,11172.099609,11607.400391,10740400128,0.011547,-0.284946,-0.430332,-0.350409,1.073460,-0.029814,1
2018-01-20,11656.200195,13103.000000,11656.200195,12899.200195,11801700352,0.111291,0.098814,-0.373270,-0.021880,1.124123,0.047196,1
2018-01-21,12889.200195,12895.900391,11288.200195,11600.099609,9935179776,-0.100712,-0.158157,-0.338554,-0.221600,1.142423,0.016280,0
2018-01-22,11633.099609,11966.400391,10240.200195,10931.400391,10537400320,-0.057646,0.060615,-0.018901,-0.049323,1.168571,0.022888,0
2018-01-23,10944.500000,11377.599609,10129.700195,10868.400391,9660609536,-0.005763,-0.083208,-0.181422,-0.242353,1.123192,-0.038833,0
2018-01-24,10903.400391,11501.400391,10639.799805,11359.400391,9940989952,0.045177,0.029023,0.000585,-0.472733,1.080979,-0.037583,1
2018-01-25,11421.700195,11785.700195,11057.400391,11259.400391,8873169920,-0.008803,-0.107416,-0.157936,-0.528790,1.065865,-0.013981,0
2018-01-26,11256.000000,11656.700195,10470.299805,11171.400391,9746199552,-0.007816,0.098390,0.008860,-0.351136,1.113311,0.044514,0
2018-01-27,11174.900391,11614.900391,10989.200195,11440.700195,7583269888,0.024106,-0.221925,-0.237172,-0.293949,1.056938,-0.050636,1
2018-01-28,11475.299805,12040.299805,11475.299805,11786.299805,8350360064,0.030208,0.101156,-0.058920,-0.292444,1.049236,-0.007287,1
2018-01-29,11755.500000,11875.599609,11179.200195,11296.400391,7107359744,-0.041565,-0.148856,-0.270756,-0.284627,1.062294,0.012445,0
2018-01-30,11306.799805,11307.200195,10036.200195,10106.299805,8637859840,-0.105352,0.215340,0.139068,-0.180267,1.126642,0.060574,0
2018-01-31,10108.200195,10381.599609,9777.419922,10221.099609,8041160192,0.011359,-0.069080,-0.037028,-0.167634,1.061793,-0.057559,1
2018-02-01,10237.299805,10288.799805,8812.280273,9170.540039,9959400448,-0.102783,0.238553,0.401280,0.001852,1.167552,0.099604,0
2018-02-02,9142.280273,9142.280273,7796.490234,8830.750000,12726899712,-0.037052,0.277878,0.473386,0.434313,1.172615,0.004336,0
2018-02-03,8852.120117,9430.750000,8251.629883,9174.910156,7263790080,0.038973,-0.429257,-0.096674,-0.254705,1.142895,-0.025345,1
2018-02-04,9175.700195,9334.870117,8031.220215,8277.009766,7073549824,-0.097865,-0.026190,-0.289761,-0.067216,1.162323,0.016998,0
2018-02-05,8270.540039,8364.839844,6756.680176,6955.270020,9285289984,-0.159688,0.312678,-0.270420,0.111963,1.238010,0.065118,0
2018-02-06,7051.750000,7850.700195,6048.259766,7754.000000,13999800320,0.114838,0.507740,0.927341,0.969761,1.298010,0.048464,1
2018-02-07,7755.490234,8509.110352,7236.790039,7621.299805,9169280000,-0.017114,-0.345042,0.296277,0.061522,1.175813,-0.094142,0
2018-02-08,7637.859863,8558.769531,7637.859863,8265.589844,9346750464,0.084538,0.019355,0.006619,0.162363,1.120572,-0.046981,1
2018-02-09,8271.839844,8736.980469,7884.709961,8736.980469,6784820224,0.057030,-0.274098,-0.515363,-0.318752,1.108092,-0.011137,1
2018-02-10,8720.080078,9122.549805,8295.469727,8621.900391,7780960256,-0.013172,0.146819,-0.151410,-0.388621,1.099703,-0.007571,0
2018-02-11,8616.129883,8616.129883,7931.100098,8129.970215,6122189824,-0.057056,-0.213183,-0.344993,-0.157163,1.086373,-0.012121,0
2018-02-12,8141.430176,8985.919922,8141.430176,8926.570312,6256439808,0.097983,0.021928,-0.077877,-0.115516,1.103727,0.015975,1
2018-02-13,8926.719727,8958.469727,8455.410156,8598.309570,5696719872,-0.036773,-0.089463,-0.267864,-0.386479,1.059496,-0.040075,0
2018-02-14,8599.919922,9518.540039,8599.919922,9494.629883,7909819904,0.104244,0.388487,0.291992,-0.435005,1.106817,0.044664,1
2018-02-15,9488.320312,10234.799805,9395.580078,10166.400391,9062540288,0.070753,0.145733,0.448514,-0.011641,1.089321,-0.015808,1
2018-02-16,10135.700195,10324.099609,9824.820312,10233.900391,7296159744,0.006640,-0.194910,0.280765,-0.219391,1.050818,-0.035345,1
2018-02-17,10207.500000,11139.500000,10149.400391,11112.700195,8660880384,0.085871,0.187046,0.094953,0.276508,1.097553,0.044474,1
2018-02-18,11123.400391,11349.799805,10326.000000,10551.799805,8744009728,-0.050474,0.009598,-0.035148,0.123770,1.099148,0.001453,0
2018-02-19,10552.599609,11273.799805,10513.200195,11225.299805,7652089856,0.063828,-0.124876,0.048783,0.249894,1.072347,-0.024383,1
2018-02-20,11231.799805,11958.500000,11231.799805,11403.700195,9926540288,0.015893,0.297233,0.146135,0.586612,1.064700,-0.007131,1
2018-02-21,11372.200195,11418.500000,10479.099609,10690.400391,9405339648,-0.062550,-0.052506,0.075632,0.651010,1.089645,0.023429,0
2018-02-22,10660.400391,11039.099609,9939.089844,10005.000000,8040079872,-0.064114,-0.145158,0.050704,0.016468,1.110675,0.019300,0
2018-02-23,9937.070312,10487.299805,9734.559570,10301.099609,7739500032,0.029595,-0.037385,-0.220323,-0.145990,1.077327,-0.030025,1
2018-02-24,10287.700195,10597.200195,9546.969727,9813.070312,6917929984,-0.047376,-0.106153,-0.264468,-0.051840,1.110007,0.030334,0
2018-02-25,9796.419922,9923.219727,9407.059570,9664.730469,5706939904,-0.015117,-0.175051,-0.290189,-0.341067,1.054869,-0.049673,0
2018-02-26,9669.429688,10475.000000,9501.730469,10366.700195,7287690240,0.072632,0.276987,-0.058377,-0.166551,1.102431,0.045087,1

In [6]:
# to CSV data folder
BTC.drop(columns=['%','Open','High','Low','Volume'],inplace=True)
BTC.rename(columns={'Date': 'date'},inplace=True)
BTC['Target_1d'] = BTC['Target'].shift(-1)
BTC.to_csv('../thecap/Data/BTC_daily_since_1-2016.csv')

In [7]:
BTC.tail()

,Close,vol%_chg1d,vol%_chg3d,vol%_chg8d,range,range%,Target,Target_1d
Date,,,,,,,,
2020-11-29,18177.484375,-0.045001,-0.492906,-0.214785,1.041261,-0.013752,1,1.0
2020-11-30,19625.835938,0.533004,0.227379,0.156201,1.086418,0.043368,1,0.0
2020-12-01,18802.998047,0.039917,0.522456,0.161263,1.083182,-0.002979,0,1.0
2020-12-02,19201.091797,-0.246727,0.200866,-0.273596,1.052356,-0.028459,1,1.0
2020-12-03,19445.398438,-0.145967,-0.331001,-0.269502,1.033838,-0.017597,1,NaN

In [19]:
# Download Currencys tickers
start = '2017-12-31'
end = '2020-12-03'
ticker = 'JPY=X'
fiat = get_ticker(ticker, start, end)
fiat.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2018-01-01,112.680000,112.690002,112.669998,112.666000,0,0,0
2018-01-02,112.769997,112.788002,112.074997,112.769997,0,0,0
2018-01-03,112.264000,112.485001,112.193001,112.244003,0,0,0
2018-01-04,112.606003,112.853996,112.507004,112.607002,0,0,0
2018-01-05,112.790001,113.289001,112.731003,112.782997,0,0,0

In [20]:
# drop cols
cols = ['Open','High','Low','Volume','Dividends','Stock Splits']
fiat.drop(columns=cols,inplace=True)
fiat['JPY%'] = fiat['Close'].pct_change()
fiat.dropna(inplace=True)
fiat.rename(columns={'Date': 'date'},inplace=True)
fiat['Close_JPY'] = fiat['Close']
fiat.drop(columns='Close',inplace=True)
fiat.head()

                JPY%   Close_JPY
Date
2018-01-02  0.000923  112.769997
2018-01-03 -0.004664  112.244003
2018-01-04  0.003234  112.607002
2018-01-05  0.001563  112.782997
2018-01-08  0.003290  113.153999

In [21]:
# to CSV data folder
fiat.to_csv('../thecap/Data/Jpy_daily_since_12-2017.csv')